*{
margin:0;
padding:0;
}

body
  {
     background-color:red;
  }

#wrapper
  {
    width:960px;
    height:1000px;
    margin:0 auto;
    margin-top:20px;
    display:block;
    color:black;
  }
.header
  {
    float:left;
    width:960px;
    height:111px;
    display:block;

  }

#form
  	{
    	float:left;
    	display:block;
    	width:%;
	height:auto;
    	margin: -50px 0 0 550px;
	border-color:blue;
	}

nav
   {
      color:white;
      float:left;
      display:block;
      width:100%;
      padding:5px;
   }
nav ul
  {
    list-style:none;
  }

nav ul li
  {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 2px;
    padding: 0 18px
  }

nav ul li a
  {
  color:white;
  text-decoration:none;

  }

nav ul li a:hover
  {
   background:url("images/icon_home.png") no-repeat center;
   text-decoration:none;
  }

.li1
  {
	float:left;
	display:block;
	padding:51px 0px 0 0px;
	background:url("images/icon_home.png") no-repeat center;
	letter-spacing:1px;
	line-height:30px;
	font-size:20px;

  }

  .li2
    {
     float:left;
   display:block;
   background:url("images/honda_small_logo.png") no-repeat center;
   padding:51px 30px 0 0px;
   margin:0px 0px 0 0px;
   line-height:30px;
   letter-spacing:1px;
   font-size:20px;
    }

  .li3
   {
   float:left;
   display:block;
   width:16xp;
   height:22px;
   background:url("images/icon_bike.png") no-repeat center;
   padding:51px 0px 0px 0px;
   letter-spacing:1px;
   line-height:30px;
   font-size:20px;
  }

.form
  {
    float:left;
  }

.height
  {
    height:30px;
  }

  .li4
    {
     float:left;
   display:block;
   background:url("images/icon_faq.png") no-repeat center;
   letter-spacing:1px;
   padding:51px 10px 0 10px;
   line-height:30px;
   font-size:20px;
    }
   .li5
    {
     float:left;
   display:block;
   background:url("images/icon_contact.png") no-repeat center;
   letter-spacing:1px;
   padding:51px 10px 0 10px;
   line-height:30px;
   font-size:20px;
	} 
.signup1
	{
		float:left;
		font-size:11px;
		color:white;
		display:block;
		text-decoration:none;
		margin: 0 0 0 695px;	
	}

.signup1:hover
	{
		float:left;
		font-size:11px;
		color:white;
		display:block;
		text-decoration:none;
		margin: 0 0 0 695px;	
	}
